.logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #002140;
  transition: all 0.3s;

  img {
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
  }
}

.layout {
  min-height: 100vh;
}

.content {
  margin: 16px;
}

.container {
  min-height: 360px;
}

.footer {
  text-align: center;

  .btn {
    padding: 0 5px;
  }
}
